//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the section commitment of the site/application.
// -----------------------------------------------------------------------------

.section-insights {
  padding: 43px 0 42px;

  background-color: $mercury;
  
  .row {
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }

  .col {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 0 32%;
    padding: 34px 26px 13px;
    width: 32%;
    height: auto;

    background-color: $white;
    border-bottom: 12px solid;
    box-shadow: 0 0 13px rgba(0, 0, 0, .3);

    &:nth-child(3n+1) {
      border-color: $chun-li-blue;

      .heading-4 {
        color: $chun-li-blue;
      }
    }

    &:nth-child(3n+2) {
      border-color: $grecian-isle;
      
      .heading-4 {
        color: $grecian-isle;
      }
    }

    &:nth-child(3n+3) {
      border-color: $sky;
      
      .heading-4 {
        color: $sky;
      }
    }

    img {
      width: 100%;
    }
  }

  .heading-4 {
    margin-top: 22px;
    margin-right: auto;
    max-width: 255px;
    
    font-size: 34px;
    line-height: 1;
    text-align: left;
  }
}

@include respond-to(md-down) {
  .section-insights {
    .col {
      padding: 15px;
    }

    .heading-4 {
      font-size: 25px;
    }
  }
}

@include respond-to(sm-down) {
  .section-insights {
    position: relative;

    padding: 30px 0 42px;

    background-color: $blue-ranger;

    .heading-3,
    .subheading-1 {
      color: $white;
    }

    .swiper {
      overflow-x: hidden;
    }

    .row {
      justify-content: auto;
      flex-direction: auto;
      flex-wrap: inherit;
    }

    .col {
      flex-basis: inherit;
      margin-right: 30px;
      width: 62vw;
    }

    .heading-4 {
      margin-top: 11px;
      width: 100%;

      font-size: 23px;
      text-align: left;
    }
  }
}